@import "tailwindcss";

@theme {
  --color-gold: oklch(82.8% 0.111 230.318);
  --color-ink: #111827;
  --color-ink-2: #1f2937;
  --color-ink-3: #6b7280;
  --color-ink-4: #9ca3af;
}


.cesium-viewer-bottom {
  display: none !important;
}


.cesium-infoBox,
.cesium-infoBox-visible {
  background-color: white !important;
  color: #18181b !important;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid #e4e4e7;
}

.cesium-infoBox-title {
  background-color: #f4f4f5 !important;
  color: #18181b !important;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid #e4e4e7;
}

.cesium-button {
  fill: #71717a !important;
}

.cesium-button:hover {
  background-color: #e4e4e7 !important;
  fill: #18181b !important;
}

.cesium-infoBox-iframe {
  background-color: transparent !important;
}